---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "zeropoint-test_test",
  "short_name": "zeropoint-test_test",
  "display": "standalone",
  "start_url": "/"
}
